{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>navbar</h1>
{% for user in users %}
{{ user.name }}
{{ user.mobile }}

{% endfor %}
{{ all.username }}
{{ all.dateCreated }}
<br>
{{ music.author }}
{{ music.songImg }}
{{ music.songName }}
<br>
<a href="{% url 'feed' id%}">View Feed</a>
<br>
<a href="{% url 'profile' id %}">View PRofile page</a>
<br>
<a href="{% url 'musicView' id%}">View your Library</a>
<br>
<a href="{% url 'musicUpdate' id%}">Upload your music</a>
<br>
<a href="{% url 'logout' %}">click to logout</a>
<br>
</body>
<br>
</html>