<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method='POST', action='' enctype="multipart/form-data">
    {% csrf_token %}
    <label>enter your songName</label>
    {{form.songName}}
    <br>
    <label >upload songImage</label>
    {{form.songImg}}
    <br>
    <label>upload file</label>
    {{form.file}}
    <br>
    <label>your name:</label>
    {{form.author}}
    <br>
    <!-- {{form.as_p}} -->
    <label>submit</label>
    <input type="submit" value="submit">

</form>
</body>
</html>