{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'assets/css/music.css'%}">
</head>




<!-- Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 100px; background-color: black;">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Avatar -->
      <style>
        a{
            text-decoration: wavy;
        }
        button{
            padding: 30px;
            align-self: center;
            width: 130px;
            height: 70px;
        }
        form{
            align-self: center;
        }
      </style> 
      <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="{% url 'profile' id%}"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{% static pic%}"
            class="rounded-circle"
            height="50"
            alt="Portrait of a Woman"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
        
        <button type="button" class="btn btn-primary me-3">
          <a href="{% url 'index' id%}" style="color: whitesmoke;">HomePage</a>
        </button>
         <button type="button" class="btn btn-primary me-3" style="width: 160px;">
          <a href="{% url 'feed' id%}" style="color: whitesmoke;">Feed</a>
        </button>
         <button type="button" class="btn btn-primary me-3" style="width: 100px;">
          <a href="{% url 'favourites' id%}" style="color: whitesmoke;;">Favourites</a>
        </button>

        <button type="button" class="btn btn-primary me-3" style="width: 160px;">
          <a href="{% url 'musicUpdate' id%}" style="color: whitesmoke;">Upload Music</a>
        </button>
        <button type="button" class="btn btn-primary me-3" style="width: 160px;">
          <a href="{% url 'musicView' id%}" style="color: whitesmoke;">Your Library </a>
          
        </button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
       <ul>
        <form class="d-flex input-group w-auto" style="text-align: right;align-self: center;padding-top: 40px;" method="get" enctype="text/plain" action="{% url 'musicView' id%}">
        <input type="search" name="query" placeholder="Search">
        <input type="submit" value="submit">

    </ul>
  </div>
</nav>
<!-- End of Nav bar component................................................................... -->

<body style="background-color: black; text-align: center;">
    <style>
        img, audio, p, h1{
            color: floralwhite;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            align-self: center;
            /* padding-left: 500px; */
        }
    </style>
<h1 style="font-size: 120px; font-family: sans-serif;">Your Library ({{user.username}})</h1>
<style>
  img.rounded-corners{
    border-radius: 30px 30px 30px 30px;
  }
</style>
    <div>
    {% for track in tracks %}
        
        <p style="text-decoration: solid; font-size: 60px;" name="name">  Title:{{track.songName}} </p>
        <br>
        <img src="{% static track.songImg.url %}" alt="userProfile" width="420" height="500" class="rounded-corners">
        <br>
        <audio src="{% static track.file.url %}" alt="some song" type="audio/mp3" controls></audio>
        <br>

        
       <p>created by:- {{track.author.username}}</p>
       <p>{{track.favourite}}</p>
       {%if track.id not in ls%}
          <button type="button" class="btn btn-primary me-3" style="width: 160px; color: aqua;background-color: green;">
            <a href="{%url 'addFavourite' id track.id%}" style="color: black;">add to favourite</a>
          </button>
        {%else%}
            <button type="button" class="btn btn-primary me-3" style="width: 160px; color: aqua;">
            <a href="{%url 'removeFavourite' id track.id%}" style="color: black;">Favourite (remove)</a>
          </button>
        {%endif%}
    
        

       <p>______________________________________________________________________________________________________________________</p>
       </div>
      
          {%  endfor %}
</body>
</html>